body
	font-family: courier
	font-size: 4px
	span
		background-color white
		color white
	.black
		background-color black
		color black
	.white
		background-color white
		color white
	.gray
		background-color gray
		color gray
	.lightgray
		background-color lightgray
		color lightgray
	.lightblue
		background-color #2dd0ff
		color #2dd0ff
	.blue
		background-color #008cf8
		color #008cf8
		
		